[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-protobuf"]
	path = vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "deoplete.nvim"]
	path = deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "Zenburn"]
	path = Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "deoplete-jedi"]
	path = deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi.git
[submodule "gruvbox"]
	path = gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "deoplete-go"]
	path = deoplete-go
	url = https://github.com/zchee/deoplete-go.git
[submodule "deoplete-rust"]
	path = deoplete-rust
	url = https://github.com/sebastianmarkow/deoplete-rust.git
[submodule "tmux-complete.vim"]
	path = tmux-complete.vim
	url = https://github.com/wellle/tmux-complete.vim.git
